{% extends "auctions/layout.html" %}

{% block title %}
    
{% endblock %}

{% block body %}
    {% if product not in watchlist.product.all %}
        <form action="{% url 'add_to_watchlist' product=product.title %}" method="POST">
            {% csrf_token %}        
                <input type="submit" class="watchlist-button" name="watchlist-button" value="Add to watchlist">
        </form>
    {% else %}
        <form action="{% url 'add_to_watchlist' product=product.title %}" method="POST">
            {% csrf_token %}        
            <input type="submit" class="watchlist-button" name="watchlist-button" value="Remove from watchlist">
        </form>
    {% endif %}
    
    <img src="{{product.image.url}}" class="catalog-item__img" style="height: 350px; width: 350px;">
    <div class="catalog-item__subtitle" style="color: blue;">{{product.title}}</div> 
    <div class="catalog-item__user">Seller: {{product.user}}</div>
    <div class="catalog-item__descr" style="width: 350px;">Decription: {{product.description}}</div>
    <div class="catalog-item__start-bid">Start Price: {{product.start_bid}}</div>
    
    {% if product.last_bid is None %}
        <div class="catalog-item__bid">Last Bid: {{product.start_bid}}</div>
    {% else %}
        <div class="catalog-item__bid">Last Bid: {{product.last_bid}}</div>
    {% endif %}
    <br>
    <form action="{% url 'set_new_bid' product=product.title %}" method="POST">
        {% csrf_token %}
        <input type="number" step="0.01" name="new-bid" required>
        <input type="submit" value="Bid">
    </form>
    {% for message in messages %}
    <p style="color: red;"> {{ message }}</p>   
    {% endfor %}
    <br>
    <div class="comments">
        <h5 class="comments_title">Your Comment</h5>
        <form action="{% url 'comment' product=product.title %}" method="POST">
            {% csrf_token %}
            <textarea required name="comment"  cols="150" rows="4"></textarea><br>
            <input type="submit" value="Send comment">
        </form>
        <h5 class="comments_title">Other comments</h5>
        {% for comment in product.comment.all %}        
            <p>{{comment.user}}, {{comment.date}}</p>            
            <p>{{comment.text}}</p>
            <hr>
        {% endfor %}
        
        
        
    </div>
    
    # TODO


{% endblock %}